.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 25px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 10px;
    position: relative;
    z-index: 3;
}

.imageAndText img {
    z-index: 3;
    width: 48px;
    height: 48px;
}

.text {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-left: 565px;
    background-color: #0066CC;
    width: 527px;
    height: 60px;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 8px 13px;
    margin-right: 10px;
}

.text:after {
    content: "";
    position: absolute;
    right: -10px;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #0066CC;
}

.name {
    text-align: end;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 2px;
}


.messageText {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.time {
    padding-right: 10px;
    font-weight: 600;
    font-size: 11px;
    line-height: 22px;
}