.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #CC0000;
    margin-top: 9px;
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-top: 9px;
    padding: 8px 12px;
}

.input:focus {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    margin-top: 9px;
}

.errorInput {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #CC0000;
    margin-top: 9px;
}

.button {
    background-color: #0066CC;
    border-radius: 3px;
    color: #FFFFFF;
    width: 78px;
    height: 36px;
    margin-left: 12px;
    margin-top: 9px;
}

.button:focus {
    background-color: #0066CC;
    border-radius: 3px;
    color: #FFFFFF;
    width: 78px;
    height: 36px;
    margin-left: 12px;
    opacity: 50%;
}

.button:active {
    background-color: #0066CC;
    border-radius: 3px;
    color: #FFFFFF;
    width: 78px;
    height: 36px;
    margin-left: 12px;
    opacity: 50%;
    border: rebeccapurple;
}

.button:disabled {
    background-color: #0066CC;
    border-radius: 3px;
    color: #FFFFFF;
    width: 78px;
    height: 36px;
    margin-left: 12px;
    opacity: 80%;

}

.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
    opacity: 50%;
}

.greeting {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000000;
}
