.sendForm {
    display: flex;
    justify-content: center;
}

.textarea {
    width: 86%;
    border-radius: 20px;
    background-color: #F5F7FB;
    padding: 15px 24px;
    color: black;
    outline: none;
}

.button {
    width: 120px;
    height: 40px;
    background-color: #0066CC;
    color: #FFFFFF;
    margin-left: 20px;
    border-radius: 20px;
}

.button:hover {
    width: 120px;
    height: 40px;
    background-color: #0066CC;
    opacity: 80%;
    color: black;
}

.button:active {
    width: 120px;
    height: 40px;
    background-color: lightseagreen;
    color: black;
}
