.container {
    boxShadow: none;
}

.wrapper {
    display: flex;
    margin: 42px 0;
}

.number {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin: 0 13px;
}